html {
  font-size: 18px;
}

body {
  font-family: var(--ff-bodytext);
  font-size: var(--fs-400);
  text-align: center;
}
main {
  position: absolute;
  z-index: 1;
  top: 100px;
}

header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  color: white;
  background-color: lightgray;
  margin-bottom: 100px;

  display: flex;
  gap: 2rem;
  z-index: 5;
  justify-content: space-between;
}

#navbar {
  transition: top 0.3s;
}

.main-menu-desktop ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
  padding: 1rem;
}

.main-menu-desktop ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.main-menu-desktop ul li a:hover {
  color: black;
  border-bottom: 2px solid black;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

h1 {
  padding: 2rem;
  margin: 2rem;
  font-family: var(--ff-heading);
}

.lead-paragraph {
  margin: 3rem;
  padding: 2rem;
  line-height: 2.375rem;
  padding-bottom: 3.5rem;
  text-align: left;
}
.title-h2 {
  padding: 2rem;
  margin: 2rem;
}
.menu-projects {
  display: grid;
  grid-template-columns: 2fr;
  justify-content: center;
  align-content: center;
}

.project {
  margin: 1rem;
  padding: 1rem;
}
.project p {
  margin: 1rem;
  padding: 1rem;
  line-height: 2.375rem;
  max-width: 50ch;
  text-align: left;
  text-decoration: none;
}

.project h2 {
  font-family: var(--ff-bodytext);
  font-size: var(--fs-600);
  font-style: bold;
  text-align: center;
}

.project-image {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  object-fit: cover;
}

.work-cover {
  padding: 1.5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.article {
  max-width: 1000px;
}

@media screen and (min-width: 954px) {
  .menu-projects {
    grid-template-columns: 1fr 1fr;
  }
  .main-menu-desktop {
    display: block;
  }

  h1 {
    padding: 2rem;
    margin: 2rem;
    font-family: var(--ff-heading);
  }
  .lead-paragraph {
    margin: 2rem;
    padding: 2rem;
    line-height: 2.375rem;
    padding-bottom: 3.5rem;
    text-align: left;
  }
  .project {
    margin: 2rem;
    padding: 2rem;
  }
  .project img {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  .project p {
    margin: 1.5rem 1.5rem;
    padding: 1rem;
    line-height: 2.375rem;
    max-width: 100ch;
  }
  .lead-paragraph {
    margin: auto;
    padding: 3rem;
  }
  .basic-image {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
}
